/* color palette from <https://github.com/vuejs/theme> */
/* :root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
} */

:root {
  --margine-bottom: 4px;
  --margine-bottom-1: 15px;
  --link-hover: red;

  /* Header */
  --header-width: 240px;
  --header-width-collapsed: 80px;
  --header-item-min-width: 80px;
  --header-item-bg-hover: #fbfcfd;
  --header-title-color: #2c3e50;
  --header-title-color-hover: #304860;


  /* Theme */
  --theme-c-white-bg: #f3f4f6;
  --theme-c-white-bg-frame: #ffffff;
  
  --theme-c-indigo: #2c3e50;
  --theme-c-white-gray: #a3a9b1;
  --theme-c-gray: #535c6a;

  --theme-c-text-light-1: var(--theme-c-indigo);
  --theme-c-text-light-2: rgb(60, 60, 60);

  /* Icon */
  --icon-size-1: 18px;
  --icon-size-2: 25px;
  --icon-size-3: 30px;

  /* Kanban */
  --kanban-column-width: 250px;

  /* KanbanCard */
  --kanban-card-gap: 20px;
  --card-title-color: #2c3e50;
  --card-title-color-hover: #304860;

  /* Menu Icon */
  --menu-icon-size: 28px;
  --menu-icon-color: #64748b;
  --menu-text-size: 18px;

  /* ModuleMenu */
  --module-menu-height: 50px;


  --theme-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --theme-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --theme-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --theme-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --theme-c-text-dark-1: var(--theme-c-white);
  --theme-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--theme-c-white-bg);
  --color-background-frame: var(--theme-c-white-bg-frame);

  --color-heading: var(--theme-c-text-light-1);
  --color-text: var(--theme-c-text-light-1);

  /* --color-border: var(--theme-c-divider-light-2);
  --color-border-hover: var(--theme-c-divider-light-1); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--theme-c-black);
    --color-background-soft: var(--theme-c-black-soft);
    --color-background-mute: var(--theme-c-black-mute);

    --color-border: var(--theme-c-divider-dark-2);
    --color-border-hover: var(--theme-c-divider-dark-1);

    --color-heading: var(--theme-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  fill: var(--color-text)
}

.mb-1 {
  margin-bottom: var(--margine-bottom-1);
}

.mb-2 {
  margin-bottom: calc(var(--margine-bottom-1) * 1.5);
}

.mb-3 {
  margin-bottom: calc(var(--margine-bottom-1) * 2);
}

.mb-4 {
  margin-bottom: calc(var(--margine-bottom-1) * 2.5);
}

.mb-5 {
  margin-bottom: calc(var(--margine-bottom-1) * 3);
}